body, html {
  background-color: darkslategrey;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background-color: rgb(29, 43, 61);
  color: black;
  height:250px;
}

header h1 {
  font-size: 90px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff
}

header p {
  font-size: 40px;
  color: #fff;
}

header #myImage {
  padding: 80px;
  width: 40%;
  height: 25%;
  border-radius: 500px;
  object-fit: contain;
}

header div {
  width: 100%;
  padding-left: 30px;
  text-align: center;
}

nav {
  font-size: 25px;
  color: #fff;
  background-color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: azure;
}