body, html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(39, 135, 194);
  color:black;
}

section {
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

#socialmediaicons {
  align-items: center;
}